<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Coctails</h1>
    </div>
      <div class="col">
        <select (change)="getCoctails(coctails.value)" #coctails id="coctails" name="coctails">
          <option value="a">a</option>
          <option value="b">b</option>
          <option value="c">c</option>
          <option value="d">d</option>
          <option value="e">e</option>
          <option value="f">f</option>
          <option value="g">g</option>
          <option value="h">h</option>
          <option value="i">i</option>
          <option value="j">j</option>
          <option value="k">k</option>
          <option value="l">l</option>
          <option value="n">n</option>
          <option value="m">m</option>
          <option value="o">o</option>
          <option value="p">p</option>
          <option value="q">q</option>
          <option value="r">r</option>
          <option value="s">s</option>
          <option value="t">t</option>
          <option value="u">u</option>
          <option value="v">v</option>
          <option value="w">w</option>
          <option value="x">x</option>
          <option value="y">y</option>
          <option value="z">z</option>
        </select>
      </div>
      
    </div>
  </div>

  <div style="margin-top: 10px;" class="container-fluid">
    <div class="row">
      <div class="col-md-4" (click)="switchState()" *ngFor="let coctail of coctails$ | async">
        <div class="card"  style="width: 75%;">
          <div class="card-header">
            <h1>{{coctail.strDrink}}</h1>
            
          </div>
        </div>
        <div class="card-body" *ngIf="open">
          <img class="img-fluid" src="{{coctail.strDrinkThumb}}">
          <h4>{{coctail.strInstructions</h4>
        </div>
      </div>
    </div>
  </div>